extends base.pug

block title 
    title About Us Page

block style 
    style 
        include ../static/allcss/aboutus.css

block content 
    section 
        div.contents
            h1 Who We Are ?
            br
            p 
                |Farmers are the building blocks of the nation and we want to do everything in  
                br
                |our power to help make working in the field of farming easy.
            p 
                |Our website aims to be a one stop solution to the problems farmers face in their
                br
                | field of work.
            p 
                |Here at AGRICULTOR , we try our best to help and support the farmers and farming.
        
            div.contactPart
                span For any queries you can contact us :
                br
                div.b1
                    button 
                        i.fa.fa-phone
                        |   1234567890
                div.b2
                    button 
                        i.fa.fa-envelope
                        |   agricultor@gmail.com
                div.b3
                    button 
                        i.fa.fa-facebook-square
                        |   Agricultor 
                div.b4
                    button 
                        i.fa.fa-instagram
                        |   Agricultor
                div.b5
                    button 
                        i.fa.fa-twitter 
                        |   Agricultor
        
   

                //- |Farmers are the building blocks of the nation and we want to do everything in our power to help make working in the field of farming easy  
                //- | Our website aims to be a one stop solution to the problems farmers face in their field of work.
                //- | Here at AGRICULTOR , we try our best to help and support thr farmers and farming.
                //- | For any queries , Contact Us at 
                //- | 123456789
                //- |   email@gmail.com
                //- | find us at  insta or fb 
    

block script 