extends base.pug

block title 
    title Community Blog Page

block style 
    //- style 
    //-     include ../static/allcss/signin.css

block content 
  
   
block script
    //- script 
    //-     include ../static/alljs/signin.js