extends base.pug

block title 
    title Community Blog Page

block style 
    style 
        include ../static/allcss/communityblog.css

block content 
    h1 Welcome To Community blog  
    h3 To Create A New Post  
    button.btn 
        a(href="/newpost")  Click Here
    each newpost in questionsList 
        div#conts
            h1= newpost.question 
            span= newpost.time 
            span= newpost.date
          
  

block script
    //- script 
    //-     include ../static/alljs/communityblog.js