extends base.pug

block title 
    title Login Successful 

block style 
    style 
        include ../static/allcss/loginsuccess.css

block content 
    div.conts
        img(src="", alt="")
        h1 Login Successful
  
   
block script
    //- script 
    //-     include ../static/alljs/signin.js