extends base.pug

block title 
    title Major Crops In M.p.

block style 
    style 
        include ../static/allcss/MajorCrops/mp.css

block content 
    h1 Madhya Pradesh 
    div.sec1
        h1 Rabi Crops 
        div.conts#wheat
            h2#w1 Wheat 
            table#table1.table  
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td Sonali HP 1663 Sonali HP 1663
                    td 35-40 kg/ha
                    td 108-110 days
                    td 
                        ol 
                            li The rash is red, semi-hard and medium in size.
                            li Suitable for irrigated, well fertile land and late sowing
                            li Affected by ocher disease and leaf blight.
                tr 
                    td sujata
                    td 25-30 kg/ha
                    td 135-140 days
                    td 
                        ol 
                            li The grains are of good quality, shiny.
                            li Suitable for timely sown, irrigated and non-irrigated.
                            li affected by ocher disease
                            li The average weight of 1000 seeds is 42 grams.
                tr 
                    td W.H.147
                    td -
                    td -
                    td 
                        ol 
                            li Suitable for timely bony.
                            li Suitable for irrigated areas.
                            li Sowing should be done in the first fortnight of November when the temperature is 21 to 23 degrees Celsius. From. Be.
                tr 
                    td HW 2004
                    td 12-14 k/h
                    td 130-135 days
                    td 
                        ol 
                            li The grains are bright big and good for making roti.
                            li Yield can be 16-18 kg/ha with one or two irrigations.
                            li The average weight of 1000 grains is 42 grams.
                            li Influenced by ocher.
                            li Suitable for timely sown and irrigated areas.
                            li Sow after second week of October and till first week of November.
                tr 
                    td Hybrid-65
                    td 10-12 kg
                    td 120-130 days
                    td 
                        ol 
                            li The grain is shiny, big and suitable for making roti.
                            li Yield can be 16-18 kg/ha with one or two irrigations.
                            li Suitable for timely sown and irrigated areas.
                            li Sow after second week of October and till first week of November.
                tr 
                    td Jawahar-17
                    td 12-14 k/h
                    td -
                    td 
                        ol 
                            li High protein percentage around 11
                            li If two irrigations are given, the yield can be up to 20-22 kg/ha.
                            li Suitable for unirrigated areas.
                            li Resistant to brown mite, carnal bunt.
                tr 
                    td JNK4 W 85 Jayaraj
                    td -
                    td -
                    td 
                        ol 
                            li Suitable for timely bony
                            li Resistant to brown kitty.
                tr 
                    td JWS-17
                    td 23-24 kg/ha
                    td 130-135 days
                    td 
                        ol 
                            li The grains are shiny, some hard.
                            li The weight of 1000 seeds is 42 grams.
                            li Gerua and Karnal bunt resistant.
                tr 
                    td Meghdoot
                    td 10-12 k/ha
                    td 130-135 days
                    td 
                        ol 
                            li The grains get bigger.
                            li This variety is used for making maida and semolina
                            li Suitable for unirrigated and timely sown.
                tr 
                    td Mukta
                    td 130-135 days
                    td 12-14 k/h
                    td 
                        ol 
                            li With one or two irrigations, the yield can be up to 16-18 kg/ha.
                            li Suitable for irrigated and timely sown areas.
                            li Sow after second week of October and first week of November.
                tr 
                    td Narmada-112
                    td 10-12 k/ha
                    td 128-135 days
                    td 
                        ol 
                            li The grains are shiny, large and suitable for making roti.
                            li With one or two irrigations, the yield can be up to 16-18 kg/ha.
                            li Suitable for irrigated and timely sown areas.
                            li Sow after second week of October and first week of November
                            li Resistant to brown kitty.
                            li Affected by ocher disease
                tr 
                    td C.-306
                    td 10-13 k/h
                    td 135-140 days
                    td 
                        ol 
                            li The grains are shiny, large and good for making bread.
                            li Yield reaches 16-18 quintals with one or two irrigations.
                            li The weight of 1000 grains remains 40 grams.
                            li Suitable for irrigated and timely sowing.
                            li Crop should be sown after second week of October and first week of November.
                tr 
                    td dl 803
                    td 50-60 kg/ha
                    td 120-125 days
                    td 
                        ol 
                            li The grain size is medium.
                            li Irrigated variety for timely sowing.
                            li Suitable time for sowing is 15-25 November.
                            li The weight of 1000 seeds remains 40-42 grams.
                            li It is a sharbati variety.
                tr 
                    td Yes. W-190
                    td 50-60 kg/ha
                    td 125-130 days
                    td 
                        ol 
                            li It is a sharbati variety.
                            li The optimum time for sowing is 15-25 November.
                            li Irrigated variety for timely sowing.
                            li The average weight of 1000 seeds is 40-42 grams.
                tr 
                    td HD 4672 Malwa
                    td 13-22.5 k/ha
                    td 130-138 days
                    td 
                        ol 
                            li Resistant to ocher disease.
                            li suitable for irrigated areas
                            li It contains more protein than other varieties.
                            li It contains vitamin A.
                            li Suitable for making noodles, simaya, suji, porridge.
                
        div.conts#gram
            h2#g Gram
            table#table6.table      
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td B.G.D. 72
                    td 20 kg/h
                    td -
                    td 
                        ol 
                            li The size of the grains is large.
                            li Resistant to wilt, ascochyta blight, and root rot.
                tr 
                    td ICCV 2
                    td -
                    td -
                    td 
                        ol 
                            li early ripening
                            li Chickpea
                tr 
                    td k a k 2
                    td 18 k/h
                    td -
                    td 
                        ol 
                            li Big chickpeas.
                            li Early maturing variety.
                            li Light leaves of every color.
                            li Irrigated and rainfed variety.
                tr 
                    td JG-7
                    td 20 kg/h
                    td 120 days
                    td 
                        ol 
                            li Resistant to vascular wilt.
                            li good branching variety
                            li Seeds are of medium size.
                            li Suitable for both irrigated and unirrigated areas.
                tr 
                    td JG 130
                    td 18-20 kg/h
                    td 110-120 days
                    td 
                        ol 
                            li Large in size (100 seeds weighing 25 grams)
                            li The plant has fine branches and leaves are light green
                            li Done chicken and peel are brown in color.
                            li Fusarium wilt, resistant to root rot.
                            li Tolerant to Helicoverpa.
                tr 
                    td Pusa 372 BG 372
                    td 22 k/h
                    td -
                    td 
                        ol 
                            li Suitable for late bony.
                            li Resistant to wilt, ascochyta blight and root rot
                tr 
                    td Vijay ( Phule G 81 -1-1)
                    td 20 kg/h
                    td 
                    td 
                        ol 
                            li Big grains and branches are good.
                            li Resistant to wilt, root rot and drought.
                tr 
                td JG 332
                td 15-18 k/ha
                td 100-115 days
                td 
                    ol 
                        li Resistant to wilt.
                        li big grain
                        li Yellowish brown grains are of medium size (100 seeds weighing 16 grams)
                        li Suitable for all Madhya Pradesh except Jhabua, Jagdalpur, Indore and Khardaun districts.
                        li Suitable for paddy wheat zone.      

    div.sec2
        h1 Kharif Crops 
        div.conts#rice1
            h2#r1 Unirrigated Upland Paddy
            table#table2.table
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td Aditya
                    td 35-40 k/h
                    td 105 days
                    td 
                        ol 
                            li Resistant to blast disease.
                            li The grains are long and large.
                tr 
                    td Annada
                    td 30-40 k/h
                    td 105-110 days
                    td 
                        ol 
                            li The grains are small and thick.
                            li Dwarf variety and drought tolerant.
                            li Good yielding variety.
                tr 
                    td J. R-75
                    td 35-50 k/h
                    td 80-85 days
                    td 
                        ol 
                            li The grains are medium and thin
                            li It is a high yielding variety.
                            li Plant height 80-85 cm. it occurs.
                            li This variety is suitable for irrigated condition
                            li drought tolerant
                tr 
                    td Poorva
                    td 30 k/h
                    td 85-90 days
                    td 
                        ol 
                            li The grains are thin and long.
                            li Resistant to blast disease.
                            li It is an early variety.
                            li Plant height 80-85 cm. it occurs.
                
        div.conts#rice2
            h2#r2 Unirrigated Lowland Paddy
            table#table3.table
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td brunette
                    td 45 k/h
                    td 145 days
                    td 
                        ol 
                            li The grains are long and thick.
                            li Resistant to bacterial leaf blight and gall midge.
                            li Plant height 70-90 cm. it occurs.
                tr 
                    td golden paddy
                    td 50-55 k/h
                    td 150 days
                    td 
                        ol 
                            li Grains are longer and slimmer.
                            li Resistant to bacterial leaf blight and blast
                            li Plants are dwarf.
                tr 
                    td travel-17
                    td 35 k/h
                    td 155 days
                    td 
                        ol 
                            li The grains are thin.
                            li perfect for cooking.
                tr 
                    td JR-199
                    td 27 k/h
                    td 85-90 days
                    td 
                        ol 
                            li Early maturing variety.
                            li Suitable for planting and direct sowing.
                            li Resistant to hoppers, stem borers, leaf curlers and blasts.
            
        div.conts#rice3
            h2#r3 Irrigated Paddy
            table#table4.table
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td IR 64
                    td 35-40 k/h
                    td 120-135 days
                    td 
                        ol 
                            li The grains are medium and thin
                            li Blast is resistant to bacterial leaf spot.
                tr 
                    td Mahamaya
                    td 50-55 k/h
                    td 140 days
                    td 
                        ol 
                            li Good yielding variety.
                            li The grains are long and big
                            li Medium duration variety.
                            li Resistant to Gall Midge
                            li Drought tolerant.
                tr 
                    td Patel 85
                    td -
                    td 135-145 days
                    td 
                        ol 
                            li Resistant to blast.
                            li  The grains are large and thin.
                tr 
                    td Usha
                    td 62 k/h
                    td 130-135 days
                    td 
                        ol 
                            li The grains are long and big.
                            li The grains are odorless.
                            li Blast, gall midge, leaf mold, bacteria from leaf spot.
                tr 
                    td IR 36
                    td 40-45 k/h
                    td 125 days
                    td 
                        ol 
                            li The grains are medium and thin
                            li Resistant to blast, bacterial leaf spot and cheek midge.
                            li 
                tr 
                    td J. R 199 
                    td 27 k/h
                    td 85-90 days
                    td 
                        ol 
                            li Early maturing variety.
                            li Suitable for both direct sowing and transplanting.
                            li By blast, stem borer, leaf twister and bud
            
        div.conts#rice4
            h2#r4 Fragrant Paddy
            table#table5.table
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td musk
                    td 30-40 kg/h
                    td 115-125 days
                    td 
                        ol 
                            li The grains are long and thin
                            li Resistant to blast disease.
                tr 
                    td Basmati 385
                    td -
                    td 130-140 days
                    td 
                        ol 
                            li The grains are long and thin.
                            li The grains are fragrant.
                tr 
                    td Basmati 370
                    td 22-25 k/h
                    td 135 days
                    td 
                        ol 
                            li The grains are long and thin.
                            li The grains are fragrant.
        
        div.conts#maize
            h2#m Maize
            table#table7.table      
                tr 
                    th Variety 
                    th Yield
                    th Period
                    th Quality
                tr 
                    td Prakash (JH 3189)
                    td 25-30
                    td 80-85 days
                    td 
                        ol 
                            li hybrid variety
                            li quick cooking
                            li Suitable for irrigated and unirrigated areas.
                tr 
                    td wow 9639
                    td 50
                    td 85-95 days
                    td 
                        ol 
                            li Yellowish orange rash.
                            li Medium duration variety.
                                li Suitable for irrigated areas only.
                tr 
                    td X 1174 WV
                    td 25-35
                    td 80-85 days
                    td 
                        ol 
                            li Yellowish orange rash.
                            li Medium duration variety.
                                li Suitable for irrigated areas only.
                tr 
                    td Jawahar Hybrid Maize 12
                    td 45-55
                    td 85-95 days 
                    td 
                        ol 
                            li This medium duration variety
                            li early hybrid variety
                tr 
                    td ganga 5
                    td 55-60
                    td 90-95 days
                    td 
                        ol 
                            li Its plants are strong corn cone shape and the grains are yellow.
                            li It is an early variety which is widely grown.
                                li Can be grown under irrigated condition with approved cropping practices where rainfall is up to 30 inches.
                tr 
                    td snow 129
                    td 25-35
                    td 80-85 days
                    td 
                        ol 
                            li The color of the flit is yellow.
                            li early hybrid variety
                tr 
                    td power 1
                    td 50
                    td 90-95 days
                    td 
                        ol 
                            li Medium ripening variety.
                            li Orange white base.
                            li Suitable for Balahar.
                tr 
                    td Jawahar Mecca 216
                    td 50-55
                    td 94-98 days
                    td 
                        ol 
                            li Seeds are medium sized yellow or orange in colour.
                            li Suitable for both Rabi and Kharif.
                            li Good yielding hybrid with medium maturity.
                            li Heliothosporium tolerant to leaf spot.
                tr 
                    td Pop Corn V.L.Amber Pop
                    td 70
                    td 100-110 days
                    td 
                        ol 
                            li The size of the grains is small, and the color is yellow.
                            li It is a variety of pop corn.
                tr 
                    td sweet corn madhuri
                    td 70
                    td 100-110 days
                    td 
                        ol 
                            li The color of the grains is yellow.
                            li It is a sweet corn variety.
                tr 
                    td JM-8
                    td 40-45
                    td 83-87 days
                    td 
                        ol 
                            li Hybrid variety.
                            li Resistant to pest and drought.
                            li Protein percentage 10.4.
            
block script
    script 
        include ../static/alljs/MajorCrops/mp.js