extends base.pug

block title 
    title Programmes &amp; Schemes Page

block style 
    style
        include ../static/allcss/p&sdesc.css

block content 
    div#mainCont
        div.cards#card1
            h1 E-NAM
            div#c11.c
                h3 Introduction
                p National Agriculture Market or eNAM is an online trading platform for agricultural commodities in India. The market facilitates farmers, traders and buyers with online trading in commodities.The market is helping in better price discovery and providing facilities for smooth marketing of their produce.
            div#c12.c
                h3 History 
                p It was launched by the Ministry of Agriculture, Government of India. The electronic market pilot across India was launched on 14 April 2016 by Prime Minister of India, Narendra Modi. The Portal is managed by Small Farmers’ Agribusiness Consortium (SFAC) with the technology provider, NFCL’s iKisan division. A similar project was initiated by the Congress government in the State of Karnataka, during UPA tenure and had been a great success. NDA government has rolled it out nationally.
            div#c13.c
                h3 The Market
                p On the ENAM platform, farmers can opt to trade directly on their own through the mobile app or through registered commission agents.
                p The eNAM is linked with 1000 markets (APMCs) in 18 states and 2 union territory, with over 50 lakh farmer membership in 18 states. The market is helping traders and exporters in procuring quality products in bulk, at one place and ensure transparent financial transactions.
                p The Government plans to connect over 22,000 GrAMs, local farmers markets, with the platform. To provide better grading and assaying services, the Agriculture Department is looking at looping in AGMARK for better certification.
            div#c14.c
                h3  Objectives
                ul 
                    li 
                        |A national e-market platform for transparent sale transactions and price discovery initially in regulated markets. Willing States to accordingly enact suitable provisions in their APMC Act for promotion of e-trading by their State Agricultural Marketing Board/APMC.
                    li 
                        |Liberal licensing of traders/buyers and commission agents by State authorities without any pre-condition of physical presence or possession of shop /premises in the market yard.
                    li 
                        |One license for a trader valid across all markets in the State.
                    li 
                        |Harmonisation of quality standards of agricultural produce and provision for assaying (quality testing) infrastructure in every market to enable informed bidding by buyers. Common tradable parameters have so far been developed for 25 commodities.
                    li 
                        |Single point levy of market fees, i.e. on the first wholesale purchase from the farmer.
                    li 
                        |Provision of Soil Testing Laboratories in/ or near the selected mandi to facilitate visiting farmers to access this facility in the mandi itself. M/s. Nagarjuna Fertilizers and Chemicals Ltd. is the Strategic Partner (SP) who is responsible for the development, operation and maintenance of the platform. The broad role of the Strategic Partner is comprehensive and includes the writing of the software, customizing it to meet the specific requirements of the mandis in the States willing to integrate with NAM and running the platform.
            div#c15.c
                h3 Implementing Agency 
                p Small Farmers’ Agribusiness Consortium (SFAC) is the lead promoter of NAM. SFAC is a registered society of the Department of Agriculture, Cooperation &amp; Farmers’ Welfare (DAC&amp;FW) under the Ministry of Agriculture and Farmer Welfare. SFAC through open tender selected Nagarjuna Fertilizers and Chemicals Ltd / Ikisan Division as Strategic Partner (SP) to develop, operate and maintain the NAM e-platform. SFAC implements NAM with the technical support of SP and budgetary grant support from DAC&amp;FW. DAC&amp;FW meets the expenses on software and its customization for the States and is providing it for free. DAC&amp;FW is also giving a grant as one time fixed cost up to ₹30 lakhs per Mandi (other than to the private mandis) for installation of the e-market platform. Around 6500 APMCs operate throughout the country of which 585 district level mandis in States/UTs desirous of joining are planned to be linked by NAM. 470 mandis are planned to be integrated by March 2017 and the remaining by March 2018.
            div#c16.c
                h3 Advantages for various stakeholders.
                ul 
                    li 
                        |Farmers: They can sell products without the interference of any brokers or middlemen thereby making competitive returns out of their investment.
                    li 
                        |Traders: Traders will be able to do secondary trading from one APMC to another one anywhere in India. Local traders can get access to the larger national market for secondary trading.
                    li 
                        |Buyers, Processers &amp; Exporters: Buyers like large retailers, processors or exporters will be able to source commodities from any mandi in India thereby reducing the inter-mediation cost. Their physical presence and dependence on intermediaries will not be needed.
                    li 
                        |Consumers: NAM will increase the number of traders and the competition among them increases. This translates into stable prices and availability to the consumers.
                    li 
                        |Mandis: There will be a reduction in bookkeeping and reporting system as it will be generated automatically. Monitoring and regulation of traders and commission agents become easy. Transparency in the process eliminates the scope of manipulation of tendering/auctioning process. Market allocation fee will increase due to an accounting of all transactions taking place in the market. It will reduce the manpower requirements as the tendering/auctioning process is carried out electronically. For instance, the system declares the winner of lots within a few seconds. It eliminates information asymmetry as all the activities of an APMC can be known directly from the website.
                    li 
                        |Others: NAM aims to improve the marketing aspect of the agriculture sector. With one license for the entire state and single point levy, an entire state becomes a market and the market fragmentation within the same state gets abolished. It will improve the supply chain of commodities and reduces wastages.

        div.cards#card2
            h1 National Mission For Sustainable Agriculture (NMSA)
            div#c21.c
                h3 Introduction
                p  National Mission for Sustainable Agriculture (NMSA) has been formulated for enhancing agricultural productivity especially in rainfed areas focusing on integrated farming, water use efficiency, soil health management and synergizing resource conservation.
            div#c22.c
                h3 Mission Objectives
                ul  
                    li To make agriculture more productive, sustainable, remunerative and climate resilient by promoting location specific Integrated/Composite Farming Systems;
                    li To conserve natural resources through appropriate soil and moisture conservation measures;
                    li To adopt comprehensive soil health management practices based on soil fertility maps, soil test based application of macro &amp; micro nutrients, judicious use of fertilizers etc.;
                    li To optimize utilization of water resources through efficient water management to expand coverage for achieving ‘more crop per drop’ ;
                    li To develop capacity of farmers &amp; stakeholders, in conjunction with other on - going Missions e.g. National Mission on Agriculture Extension &amp; Technology, National Food Security Mission, National Initiative for Climate Resilient Agriculture (NICRA) etc., in the domain of climate change adaptation and mitigation measures;
                    li To pilot models in select blocks for improving productivity of rainfed farming by mainstreaming rainfed technologies refined through NICRA and by leveraging resources from other schemes/Missions like Mahatma Gandhi National Rural Employment Guarantee Scheme (MGNREGS), Integrated Watershed Management Programme (IWMP), RKVY etc.;
                    li To establish an effective inter and intra Departmental/Ministerial co - ordination for accomplishing key deliverables of National Mission for Sustainable Agriculture under the aegis of National Action Plan on Climate Change (NAPCC).
            div#c23.c
                h3 Mission Strategy
                ul 
                    li Promoting integrated farming system covering crops, livestock &amp; fishery, plantation and pasture based composite farming for enhancing livelihood opportunities, ensuring food security and minimizing risks from crop failure through supplementary/ residual production systems;
                    li Popularizing resource conservation technologies (both on - farm and off - farm) and introducing practices that will support mitigation efforts in times of extreme climatic events or disasters like prolonged dry spells, floods etc.
                    li Promoting effective management of available water resources and enhancing water use efficiency through application of technologies coupled with demand and supply side management solutions;
                    li Encouraging improved agronomic practices for higher farm productivity, improved soil treatment, increased water holding capacity, judicious use of chemicals/ energy and enhanced soil carbon storage;
                    li Creating database on soil resources through land use survey, soil profile study and soil analysis on GIS platform to facilitate adoption of location and soil - specific crop management practices &amp; optimize fertilizer use; 
                    li Promoting location and crop specific integrated nutrient management practices for improving soil health, enhancing crop productivity and maintaining quality of land and water resources;
                    li Involving knowledge institutions and professionals in developing climate change adaptation and mitigation strategies for specific agro climatic situations and promoting them through appropriate farming systems;
                    li Programmatic interventions as per land capability and conducive to climatic parameters in select blocks as pilots for ensuring integrated development through dissemination and adoption of rainfed technologies with greater reach in disadvantaged areas &amp; location specific planning by way of coordination, convergence and leveraging investments from other Schemes/Missions like MGNREGS, IWMP, RKVY, National Food Security Mission (NFSM), Mission for Integrated Development of Horticulture (MIDH), National Mission for Agricultural Extension &amp; Technology (NMAE&amp;T) etc.
            div#c24.c
                h3 Objectives 
                ul 
                    li To make agriculture more productive, sustainable, remunerative and climate resilient by promoting location specific Integrated/Composite Farming Systems.
                    li To conserve natural resources through appropriate soil and moisture conservation measures.
                    li To adopt comprehensive soil health management practices based on soil fertility maps, soil test based application of macro &amp; micro nutrients, judicious use of fertilizers etc.
                    li To optimize utilization of water resources through efficient water management to expand coverage for achieving ‘more crop per drop’.
                    li To develop capacity of farmers &amp; stakeholders, in conjunction with other on-going Missions e.g. National Mission on Agriculture Extension &amp; Technology, National Food Security Mission,National Initiative for Climate Resilient Agriculture (NICRA) etc., in the domain of climate change adaptation and mitigation measures.
                    li To pilot models in select blocks for improving productivity of rainfed farming by mainstreaming rainfed technologies refined through NICRA and by leveraging resources from other schemes/Missions like Mahatma Gandhi National Rural Employment Guarantee Scheme (MGNREGS), Integrated Watershed Management Programme (IWMP), RKVY etc.
                    li To establish an effective inter and intra Departmental/Ministerial co-ordination for accomplishing key deliverables of National Mission for Sustainable Agriculture under the aegis of NAPCC..
            div#c25.c
                h3 Strategy
                ul 
                    li Promoting integrated farming system covering crops, livestock &amp; fishery, plantation and pasture based composite farming for enhancing livelihood opportunities, ensuring food security and minimizing risks from crop failure through supplementary/ residual production systems
                    li Popularizing resource conservation technologies (both on-farm and off-farm) and introducing practices that will support mitigation efforts in times of extreme climatic events or disasters like prolonged dry spells, floods etc.
                    li Promoting effective management of available water resources and enhancing water use efficiency through application of technologies coupled with demand and supply side management solutions;
                    li Encouraging improved agronomic practices for higher farm productivity, improved soil treatment, increased water holding capacity, judicious use of chemicals/ energy and enhanced soil carbon storage.
                    li Creating database on soil resources through land use survey, soil profile study and soil analysis on GIS platform to facilitate adoption of location and soil-specific crop management practices &amp; optimize fertilizer use.
                    li Promoting location and crop specific integrated nutrient management practices for improving soil health, enhancing crop productivity and maintaining quality of land and water resources.
                    li Involving knowledge institutions and professionals in developing climate change adaptation and mitigation strategies for specific agro climatic situations and promoting them through appropriate farming systems.
                    li Programmatic interventions as per land capability and conducive to climatic parameters in select blocks as pilots for ensuring integrated development through dissemination and adoption of rainfed technologies with greater reach in disadvantaged areas &amp; location specific planning by way of coordination, convergence and leveraging investments from other Schemes/Missions like MGNREGS, IWMP, RKVY, National Food Security Mission (NFSM), Mission for Integrated Development of Horticulture (MIDH), National Mission for Agricultural Extension &amp; Technology (NMAE&amp;T) etc. A consortium approach may be evolved with various stake holders including knowledge partners like State Agricultural Universities (SAUs), Krishi Vigyan Kendras (KVKs), Indian Council of Agricultural Research (ICAR) Centres, professional organisations etc. by the State Government to provide single window service/ knowledge provider system for the benefit of farming community.
                    li State Government may engage reputed NGOs for implementation of cluster/village development plan in case of limited govt. infrastructure is available in that area through a transparent system of selection and defined process of supervision and monitoring through a line department.Strong technical monitoring and feedback systems on climate change mitigation and adaptation issues to the National Advisory council for regular updates on technical feasibility of various components and their effectiveness in bringing about the climate resilience. The experts of central institutes and state agricultural universities would be part of such technical monitoring/feedback. The capacity building of the implementing agencies would be steered by MANAGE.
                    li Establishing platform to liaison, review and coordinate implementation of interventions outlined in Mission Document of NMSA under aegis of National Action Plan on Climate Change.
            div#c26.c
                h3 Mission Interventions.
                p NMSA has following four (4) major programme components or activities:
                ul 
                    li 
                        h5 Rainfed Area Development (RAD)
                        p RAD adopts an area based approach for development and conservation of natural resources along with farming systems. This component has been formulated in a ‘watershed plus framework’, i.e., to explore potential utilization of natural resources base/assets available/created through watershed development and soil conservation activities /interventions under MGNREGS, NWDPRA, RVP&amp;FPR, RKVY, IWMP etc.. This component introduces appropriate farming systems by integrating multiple components of agriculture such as crops, horticulture, livestock, fishery, forestry with agro based income generating activities and value addition. Besides, soil test/soil health card based nutrient management practices, farmland development, resource conservation and crop selection conducive to local agro climatic condition are also promoted under this component. A cluster based approach of 100 hectare or more (contiguous or non contiguous in difficult terrain with close proximity in a village/adjoining villages) may be adopted to derive noticeable impact of convergence and encourage local participation and for future replication of the model in larger areas. Supplementary support from this component will be admissible for gap - filling resource conservation activities under converging programmes. RAD clusters should have soil analysis/soil health card /soil survey maps to justify the interventions proposed and at least 25% of the farming system area will have to be covered under On Farm Water Management. Farming Systems recommended by ICAR’s Contingency Plans and successful findings of NICRA projects shall also be considered in development of integrated project plan. Besides, creation and development of common property resources/assets/utilities like grain bank, biomass shredders, fodder bank, group marketing etc. will be encouraged under this component.
                    li 
                        h5 On Farm Water Management (OFWM)
                        p OFWM focuses primarily on enhancing water use efficiency by promoting efficient on - farm water management technologies and equipment. This not only focuses on application efficiency but, in conjunction with RAD component, also will emphasize on effective harvesting &amp; management of rainwater. Assistance will be extended for adopting water conservation technologies, efficient delivery and distribution systems etc. Emphasis will also be given to manage and equitably distribute the resources of commons by involving the water users associations, etc.. To conserve water on farm itself, farm ponds may be dug using MGNREGA funds and earth moving machinery (to the extent manual digging under MGNREGA is not feasible)
                    li 
                        h5 Soil Health Management (SHM)
                        p SHM aims at promoting location as well as crop specific sustainable soil health management including residue management, organic farming practices by way of creating and linking soil fertility maps with macro - micro nutrient management, appropriate land use based on land capability, judicious application of fertilizers and minimizing the soil erosion/degradation. Assistance will be provided for various improved package of practices based on land use and soil characteristics, generated through geographical information system (GIS) based thematic maps and database on land and soil characteristics through extensive field level scientific surveys. Besides, this component will also provide support to reclamation of problem soils (acid/alkaline/saline). This component will be implemented by State Govt., National Centre of Organic Farming (NCOF), Central Fertilizer Quality Control &amp; Training Institute (CFQC&amp;TI) and Soil and Land Use Survey of India (SLUSI).
                    li 
                        h5 Climate Change and Sustainable Agriculture: Monitoring, Modeling and Networking (CCSAMMN)
                        p CCSAMMN provides creation and bidirectional (land/farmers to research/scientific establishments and vice versa) dissemination of climate change related information and knowledge by way of piloting climate change adaptation/mitigation research/model projects in the domain of climate smart sustainable management practices and integrated farming system suitable to local agro - climatic conditions. Comprehensive pilot blocks will be supported to illustrate functional mechanism for dissemination of rainfed technologies, planning, convergence and coordination with flagship schemes/Missions like MGNREGS, IWMP, Accelerated Irrigation Benefit Programme (AIBP), RKVY, NFSM, NHM, NMAET etc. Such an integrated action of input and output flows across agriculture, livestock and other production systems will harness the growth potential of the rainfed production systems, imparting sustainability of local production systems while negotiating climate change risks.
                     
        div.cards#card3
            h1 Pradhan Mantri Krishi Sinchai Yojana (PMKSY)
            div#c31.c
                h3 Introduction 
                p Pradhan Mantri Krishi Sinchai Yojana (प्रधानमंत्री कृषि सिंचाई योजना) is a national mission to improve farm productivity and ensure better utilization of the resources in the country.The budget of ₹53 billion (US$700 million) in a time span of one year 2015-2016 has been allocated to this scheme. The decision was taken on 1 July 2015 at the meeting of Cabinet Committee on Economic Aproved with an outlay of 50000 crore for period of 5 years(2015-16 to 2019-20)
            div#c32.c
                h3 About PMKSY
                p Har Khet ko Pani “Prime Minister Krishi Sinchayee Yojana” .Government of India is committed to accord high priority to water conservation and its management. To this effect Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) has been formulated with the vision of extending the coverage of irrigation ‘Har Khet ko pani’ and improving water use efficiency ‘More crop per drop' in a focused manner with end to end solution on source creation, distribution, management, field application and extension activities. The Cabinet Committee on Economic Affairs chaired by Hon’ble Prime Minister has accorded approval of Pradhan Mantri Krishi Sinchayee Yojana (PMKSY) in its meeting held on 1st July, 2015.PMKSY has been formulated amalgamating ongoing schemes viz. Accelerated Irrigation Benefit Programme (AIBP) of the Ministry of Water Resources, River Development &amp; Ganga Rejuvenation (MoWR,RD&amp;GR), Integrated Watershed Management Programme (IWMP) of Department of Land Resources (DoLR) and the On Farm Water Management (OFWM) of Department of Agriculture and Cooperation (DAC). PMKSY has been approved for implementation across the country with an outlay of Rs. 50,000 crore in five years. For 2015-16, an outlay of Rs.5300 crore has been made which includes Rs. 1800 crore for DAC; Rs. 1500 crore for DoLR; Rs. 2000 crore for MoWR(Rs. 1000 crore for AIBP; Rs. 1000 crores for PMKSY).
            div#c33.c
                h3 Major objectives
                ul 
                    li Convergence of investment in irrigation at the field level 
                    li Expand cultivable area under irrigation (हर खेत को पानी) 
                    li Improve On-farm water use efficiency to reduce wastage of water
                    li Enhance the adoption of being precise in irrigation and other water saving technologies (more crop per drop) 
            div#c34.c
                h3 Purpose
                ul 
                    li The primary objectives of PMKSY are to attract investments in irrigation system at field level, develop and expand cultivable land in the country, enhance ranch water use in order to minimize wastage of water, enhance crop per drop by implementing water-saving technologies and precision irrigation. The plan additionally calls for bringing ministries, offices, organizations, research and financial institutions occupied with creation and recycling of water under one platform so that an exhaustive and holistic outlook of the whole water cycle is considered. The goal is to open the doors for optimal water budgeting in all sectors. Tagline for PMKSY is "more crop per drop".
                    li The Integrated Watershed Management programme was subsumed into the current PMKSY on 26 October 2015. The core implementation activities of IWMP were unchanged and were as per the Common Guidelines 2008 (Revised 2011) of IWMP. Convergence with other Central and State Government schemes, remains the top of the agenda for the programme towards optimal and judicious utilization of financial resources. Action has also been taken to undertake Natural Resources Management activities by utilizing labour component of MGNREGS and to undertake some of the Entry Point Activities in convergence with Swachh Bharat Mission (Gramin).
            div#c35.c
                h3 Components 
                ul 
                    li Water Resource: Source augmentation, distribution, ground water development, lift irrigation, diversion of water from water plenty to water scarce areas, supplementing rain water harvesting beyond IWMP, MGNREGA, repair, restoration, renovation of traditional water bodies.
                    li Per Drop More Crop (Micro Irrigation): Installation of Micro Irrigation Systems (Drip &amp; Sprinkler) in fields, extension activities, coordination &amp; management.
                    li Watershed: Ridge area treatment, drainage line treatment, soil and moisture conservation, water harvesting structure, livelihood support activities and other watershed works.
            div#c36.c
                h3 ADVANTAGES OF MICRO IRRIGATION
                ul 
                    li Higher Profits 
                    li Water Saving &amp; Water Use Efficiency (WUE)
                    li Less Energy Costs
                    li Higher fertilizer-use efficiency (FUE)
                    li Reduced Labour Costs
                    li Reduce Soli Loss
                    li Marginal Solis &amp; Water
                    li Efficient &amp; Flexible
                    li Improved Crop Quality
                    li Higher Yields
    
        div.cards#card4
            h1 Paramparagat Krishi Vikas Yojana (PKVY)
            div#c41.c
                h3 Introduction
                p "Paramparagat Krishi Vikas Yojna (PKVY)" a sub-component of Soil Health Management(SHM) scheme under National Mission of Sustainable Agriculture(NMSA) aims at development of sustainable models of organic farming through a mix of traditional wisdom and modern science to ensure long term soil fertility buildup, resource conservation and helps in climate change adapatation and mitigation. It primarily aims to increase soil fertility and thereby helps in production of healthy food through organic practices without the use of agro-chemicals. PKVY also aims at empowering farmers through institutional development through clusters approch not only in farm practice management,input production,quality assurance but also in value addition and direct marketing through innovative means. Participatory Gurantee System under PGS-India programme will be the key approach for quality assurances under the PKVY. The farmers will have option to adopt any form of organic farming in complince of PGS-India standards. While adopting a system it must be ensured that the system adopted is compatible to the area and crop and assures optimum yield and provides adequate measures to manage nutrients,pests and diseases.Farmers will have the flexibility to use appropriate package of practice(s) best suited to their situations.
            div#c42.c
                h3 Objectives
                ul
                    li To promote natural resource based integrated and climate resilient sustainable farming systems that ensure mainenance and increase od soil fertility, natural resource conservation, on-farm nutrient recycling and minimize dependance of farmers on external inputs.
                    li To reduce cost of agriculture to farmers through sustainable integrated organic farming systems thereby enhancing farmer's net income per unit of land.
                    li To sustainably produce chemical free and nutritious food for human consumtion.
                    li To protect environment from hazardous inorganic chemicals by adoption of ecofriendly low cost traditional techiques and farmer friendly technologies.
                    li To empower farmers through their own institutional development in the form of clusters and group with capacity to manage production, processing, value addition and certification management.
                    li To make farmers entrepreneurs through direct market linkages with local and national markets.
                    li  
                    li  
                    li  
            div#c43.c
                h3 Programme implementation
                ul  
                    li Groups of farmers would be motivated to take up organic farming under Paramparagat Krishi Vikas Yojana (PKVY). 
                    li Fifty or more farmers will form a cluster having 50 acre land to take up the organic farming under the scheme. In this way during three years 10,000 clusters will be formed covering 5.0 lakh acre area under organic farming. 
                    li There will be no liability on the farmers for expenditure on certification. 
                    li Every farmer will be provided Rs. 20,000 per acre in three years for seed to harvesting of crops and to transport produce to the market. 
                    li Organic farming will be promoted by using traditional resources and the organic products will be linked with the market. 
                    li It will increase domestic production and certification of organic produce by involving farmers
            div#c44.c
                h3 Expected outcomes
                ul 
                    li Promotion of commercial organic production through certified organic farming. 
                    li The produce will be pesticide residue free and will contribute to improve the health of consumer. 
                    li It will raise farmer's income and create potential market for traders. 
                    li It will motivate the farmers for natural resource mobilization for input production. 
            div#c45.c
                h3 Components and pattern of assistance
                ul 
                    li 
                        h5 Adoption of Participatory Guarantee System (PGS) certification through cluster approach
                        ul 
                            li 
                                h6 Mobilization of farmers / local people to form cluster in 50 acre for PGS certification
                                ul 
                                    li Conducting of meetings and discussions of farmers in targeted areas to form organic farming cluster @ Rs. 200 / farmer
                                    li Exposure visit to member of cluster to organic farming fields @ Rs. 200 / farmer
                                    li Formation of cluster, farmer pledge to PGS and Identification of Lead Resourceful Person (LRP) from cluster
                                    li Training of cluster members on organic farming (3 trainings @ Rs. 20000 per training)
                            li 
                                h6 PGS Certification and Quality control
                                ul 
                                    li Training on PGS Certification in 2 days @ Rs. 200 per LRP
                                    li Training of Trainers (20) Lead Resource Persons@ Rs. 250 /day/ cluster for 3 days.
                                    li Online Registration of farmer @ Rs.100 per member cluster x 50
                                    li Soil sample collection and testing (21 samples/year/cluster) @ Rs. 190 per sample for three years
                                    li Process documentation of conversion into organic methods, inputs used, cropping pattern followed, organic manures and fertilizer used etc., for PGS certification @ Rs.100 per member x 50
                                    li Inspection of fields of cluster member @ Rs. 400 /inspection x 3 (3 inspections will be done per cluster per year)
                                    li Residue analysis of samples in NABL (8 samples per year per cluster) @ Rs. 10, 000/ sample
                                    li Certification Charges
                                    li Administrative expenses for certification
                    li 
                        h5 Adoption of organic village for manure management and biological nitrogen harvesting through cluster approach
                        ul 
                            li 
                                h6 Action plan for Organic Farming for one cluster
                                ul 
                                    li Conversion of land to organic @ Rs.1000/acre x 50
                                    li Introduction of cropping system; Organic seed procurement or raising organic nursery @ Rs.500/acre/year x 50 acres
                                    li Traditional organic Input Production units like Panchagavya, Beejamruth and Jeevamruth etc. @ Rs.1500 /unit / acre x 50 acre
                                    li Biological Nitrogen Harvest planting (Gliricidia, Sesbania, etc) @ Rs. 2000/acre x 50 acre
                                    li Botanical extracts production units (Neem cake, Neem oil) @ Rs.1000/unit/ acre x 50 acre
                            li 
                                h6 Integrated Manure Management
                                ul 
                                    li Liquid Biofertilizer consortia (Nitrogen fixing / Phosphate Solubilizing/ potassium mobilizing biofertilizer) @ Rs. 500/acre x 50
                                    li Liquid Biopesticides (Trichoderma viridae, Pseudomonas fluorescens, Metarhizium , Beaviourie bassiana, Pacelomyces,verticilliu m) @ Rs. 500 /acre x 50
                                    li Neem Cake/ Neem Oil @ Rs.500/acre x 50
                                    li Phosphate Rich Organic Manure / Zyme Granules @ Rs. 1000/acre x 50
                                    li Vermicompost (size 7’x3’x1’) @ Rs.5000/ unit x 50
                            li 
                                h6 Custom Hiring Centre (CHC) charges
                                ul 
                                    li Agricultural implements (As per SMAM guidelines) - Power tiller, Cono weeder, Paddy thresher, Furrow opener,Sprayer, Rose can, Top Pan balance
                                    li Walk-in tunnels for horticulture (As per guidelines of MIDH)
                                    li Cattle shed / poultry / piggery for animal compost (As per Guidelines of Gokhul Scheme )
                            li 
                                h6 Packing, Labeling and Branding of organic products of cluster
                                ul 
                                    li Packing material with PGS logo + Hologram printing @ Rs. 2500 / acre x 50
                                    li Transportation of organic produce (Four wheeler, 1.5 tone load capacity) @Rs. 120000 max. assistance for 1 cluster
                                    li Organic Fairs (maximum assistance will be given @ 36330 per cluster )
            
        div.cards#card5
            h1 Pradhan Mantri Fasal Bima Yojana (PMFBY)
            div#c51.c
                h3 Introduction
                p Pradhan Mantri Fasal Bima Yojana (PMFBY) scheme was launched in India by Ministry of Agriculture &amp; Farmers welfare, New Delhi from Kharif 2016 season onwards. National Insurance Company started participating in PMFBY from Rabi 2016 onwards and covered 8 States and 2 Union Territories during the past 5 seasons namely, Rabi 2016-17, Kharif &amp; Rabi 2017 and Kharif &amp; Rabi 2018 covering 70,27,637 farmers. Farmers share of premium is Rs. 453 crores and with subsidy from State/Central Govts RS.1909 Crores, gross Premium is Rs.2362 Crores for the 5 seasons together. Whilst the claims of Kharif 18 and Rabi 18 are under process, we have closed the first 3 seasons with a gross premium amount of Rs.1804 Crores collected from 35,22,616 farmers and claims to the tune of Rs.1703 crores were paid, by which 17,66,455 no of farmers benefited, which shows almost 50% of the farmers insured were benefitted.
            div#c52.c
                h3  Objective of the Schemes
                p Pradhan Mantri Fasal BimaYojana (PMFBY) aims at supporting sustainable production in agriculture sector by way of
                ul 
                    li Providing financial support to farmers suffering crop loss/damage arising out of unforeseen events
                    li Stabilizing the income of farmers to ensure their continuance in farming
                    li Encouraging farmers to adopt innovative and modern agricultural practices
                    li Ensuring flow of credit to the agriculture sector which will contribute to food security, crop diversification and enhancing growth and competitiveness of agriculture sector besides protecting farmers from production risks.
            div#c53.c
                h3 Who can be covered?
                p All farmers who have been sanctioned Seasonal Agricultural Operations (SAO) loans (Crop Loans) from Financial Institutions (FIs), i.e. loanee farmers, for the notified crop(s) season would be covered compulsorily.The Scheme is optional for non-loanee farmers.The insurance coverage will strictly be equivalent to sum insured/hectare, as defined in the Govt. notification or /and on National Crop Insurance Portal multiplied by sown area for notified crop.
            div#c54.c
                h3 Risks covered under the scheme
                ul 
                    li Yield Losses (standing crops, on notified area basis). Comprehensive risk insurance is provided to cover yield losses due to non-preventable risks, such as Natural Fire and Lightning, Storm, Hailstorm, Cyclone, Typhoon, Tempest, Hurricane, Tornado. Risks due to Flood, Inundation and Landslide, Drought, Dry spells, Pests/ Diseases also will be covered.
                    li In cases where majority of the insured farmers of a notified area, having intent to sow/plant and incurred expenditure for the purpose, are prevented from sowing/planting the insured crop due to adverse weather conditions, shall be eligible for indemnity claims upto a maximum of 25 per cent of the sum-insured.
                    li In post-harvest losses, coverage will be available up to a maximum period of 14 days from harvesting for those crops which are kept in “cut & spread” condition to dry in the field.
                    li For certain localized problems, Loss / damage resulting from occurrence of identified localized risks like hailstorm, landslide, and Inundation affecting isolated farms in the notified area would also be covered.
            div#c55.c
                h3 Unit of Insurance
                p The Scheme shall be implemented on an ‘Area Approach basis’ i.e., Defined Areas for each notified crop for widespread calamities with the assumption that all the insured farmers, in a Unit of Insurance, to be defined as "Notified Area‟ for a crop, face similar risk exposures, incur to a large extent, identical cost of production per hectare, earn comparable farm income per hectare, and experience similar extent of crop loss due to the operation of an insured peril, in the notified area.
                p Defined Area (i.e., unit area of insurance) is Village/Village Panchayat level by whatsoever name these areas may be called for major crops and for other crops it may be a unit of size above the level of Village/Village Panchayat. In due course of time, the Unit of Insurance can be a Geo-Fenced/Geo-mapped region having homogenous Risk Profile for the notified crop.
                p For Risks of Localised calamities and Post-Harvest losses on account of defined peril, the Unit of Insurance for loss assessment shall be the affected insured field of the individual farmer.
           
        div.cards#card6
            h1 Gramin Bhandaran Yojna
            div#c61.c
                h3 Need for rural godowns
                p It is well known that small farmers do not have economic strength to retain produce with them till the market prices are favourable. A network of rural godowns will enable small farmers to enhance their holding capacity in order to sell their produce at remunerative prices and avoid distress sales.
                p Accordingly, Government of India has launched ‘Grameen Bhandaran Yojana’ w.e.f. 01.04.2001. The scheme has been subsumed into capital investment subsidy sub-scheme "Agricultural Marketing Infrastructure (AMI)" of Integrated Scheme for Agricultural Marketing (ISAM) scheme w.e.f 01.04.2014.  AMI scheme is temporarily stopped w.e.f. 05.08.2014 for general category promoters due to exhaustion of funds. However, the scheme is open for SC/ST promoters and for promoters in North-Eastern Region.
            div#c62.c
                h3 Objective of the scheme
                p Main objectives of scheme include creation of scientific storage capacity with allied facilities in rural areas to meet out various requirements of farmers for storing farm produce, processed farm produce, agricultural inputs, etc., and prevention of distress sale by creating the facility of pledge loan and marketing credit.
            div#c63.c
                h3 Salient features
                ul 
                    li
                        h5 Eligible Organizations
                        p  The project for construction of rural godowns can be taken up by individuals, farmers, Group of farmers/growers, Partnership/ Proprietary firms, Non-Government Organizations (NGO’s), Self Help Groups (SHGs), Companies, Corporations, Co-operatives, Local Bodies other than Municipal Corporations, Federations, Agricultural Produce Marketing Committees, Marketing Boards and Agro Processing Corporations in the entire country. Assistance for renovation of rural godowns will, however, be restricted to godowns constructed by cooperatives only.
                    li
                        h5 Location
                        p Under the scheme, the entrepreneur will be free to construct godown at any place, as per his/her commercial judgment except for the restriction that it would be outside the limits of Municipal Corporation area.  Rural godowns constructed in the Food Parks promoted by the Ministry of Food Processing Industries shall also be eligible under the scheme for assistance.
                    li
                        h5 Size
                        p Capacity of a godown shall be decided by an entrepreneur.  However, subsidy under the scheme shall be restricted to a minimum capacity of 100 tonnes and maximum capacity of 30,000 tonnes.
                    li
                        h5 Subsidy
                        ul 
                            li
                                h6 For godowns up to 1000 tonnes capacity
                                ul 
                                    li North–Eastern States, hilly areas - Rs 1333.20/- per tonne of storage capacity,  Maximum ceiling is Rs 400 lakhs.
                                    li For Registered FPOs, Panchayats, Women, Scheduled Caste(SC)/Scheduled Tribe (ST) beneficiaries or their cooperatives/Self-help groups - Rs 1166.55/- per tonne of storage capacity, Maximum ceiling is Rs 300 lakhs.
                                    li For all Other categories of beneficiaries - Rs 875/- per tonne of storage capacity, Maximum ceiling is Rs 225 lakhs.         
                            li
                                h6 For godowns exceeding 1000 tonnes and upto 30000 MT capacity
                                ul 
                                    li North–Eastern States, hilly areas - Rs 1333.20/- per tonne of storage capacity, Maximum ceiling is Rs 400 lakhs.
                                    li For Registered FPOs, Panchayats, Women, Scheduled Caste(SC)/Scheduled Tribe (ST) beneficiaries or their cooperatives/Self-help groups - Rs 1000/- per tonne of storage capacity, Maximum ceiling is Rs 300 lakhs.
                                    li For all Other categories of beneficiaries - Rs 750/- per tonne of storage capacity, Maximum ceiling is Rs 225 lakhs
                      
        div.cards#card7
            h1 Livestock insurance Scheme
            div#c71.c
                h3 Introduction
                p The Livestock Insurance Scheme, a centrally sponsored scheme, which was implemented on a pilot basis during 2005-06 and 2006-07 of the 10th Five Year Plan and 2007-08 of the 11th Five Year Plan in 100 selected districts. The scheme is being implemented on a regular basis from 2008-09 in 100 newly selected districts of the country. Under the scheme, the crossbred and high yielding cattle and buffaloes are being insured at maximum of their current market price. The premium of the insurance is subsidized to the tune of 50%. The entire cost of the subsidy is being borne by the Central Government. The benefit of subsidy is being provided to a maximum of 2 animals per beneficiary for a policy of maximum of three years. The scheme is being implemented in all states except Goa through the State Livestock Development Boards of respective states. The scheme is proposed to be extended to 100 old districts covered during pilot period and more species of livestock including indigenous cattle, yak & mithun.
            div#c72.c
                h3 Guidelines for Implementation of Livestock Insurance Scheme:
                p Livestock Sector is an important sector of national, especially rural economy. The supplemental income derived from rearing of livestock is a great source of support to the farmers facing uncertainties of crop production, apart from providing sustenance to poor and landless farmers.
                p For promotion of the livestock sector, it has been felt that along with providing more effective steps for disease control and improvement of genetic quality of animals, a mechanism of assured protection to the farmers and cattle rearers needs to be devised against eventual losses of such animals. In this direction, the Government approved a new centrally sponsored scheme on Livestock Insurance which was implemented on pilot basis during the 10th Plan. From 2008-09 onwards, the scheme is being implemented as a regular scheme in the100 newly selected districts till the end of 11th Five Year Plan i.e. 2011-12. The broad guidelines, subject to the plausible discretion of the Chief Executive Officers to be followed by the States for implementing the scheme.
            div#c73.c
                h3 Objective 
                p Aims to provide protection mechanism to the farmers and cattle rearers against any eventual loss of their animals due to death and to demonstrate the benefit of the insurance of livestock to the people and popularize it with the ultimate goal of attaining qualitative improvement in livestock and their products.
            div#c74.c
                h3 Benefits
                ul 
                    li The rural insurance policy is designed to offer insurance cover to indigenous cattle owned by farmers, cooperative societies, dairy farms and the like. 
                    li Security in case of death of cattle shall be provided for the following: -
                        ul 
                            li Natural accidents. (flood, famine, earthquake, etc.)
                            li Unpredictable circumstances. ( Accidental in Origin.)
                            li Diseases.
                            li Surgical Operations.
                            li Terrorist Act.
                            li Strikes and Riots 
                            li Civil Commotion risk
            div#c75.c
                h3 Eligibility
                p Farmers (large/small/marginal) and cattle rearers having the crossbred and high yielding cattle and buffaloes.

        div.cards#card8
            h1 Micro Irrigation Fund (MIF)
            div#c81.c
                h3 Introduction 
                p Micro Irrigation Fund with a corpus of Rs.5000 crore was operationalized in NABARD from 2019-20. Ministry of Agriculture and Farmers Welfare (MoA&FW), Government of India is the Nodal Ministry. The objective of the fund is to facilitate State Govts. efforts in mobilizing additional resources for expanding coverage under micro irrigation and incentivizing its adoption beyond provisions of PMKSY-PDMC. The corpus was to be utilized during 2018-19 and 2019-20. However, continuation of implementation of MIF was further extended for 2020-21. 
            div#c82.c
                h3 Key highlights
                ul 
                    li The allocation of Rs. 2,000 crore and Rs. 3,000 crore will be utilized during 2018-19 and 2019-20 respectively.  NABARD will extend the loan to State Governments during this period. Borrowings from NABARD shall be paid back in 7 years including the grace period of two years.
                    li The lending rate under MIF has been proposed at 3% lower than the cost of raising the fund by NABARD.
                    li This cost shall be met from the ongoing scheme of PMKSY-PDMC by amending the existing guidelines.
            div#c83.c
                h3 Benefits
                ul 
                    li The dedicated Micro Irrigation Fund would supplement the efforts of Per Drop More Crop Component (PDMC) of Pradhan Mantri Krishi Sinchayee Yojana in an effective and timely manner.
                    li With the additional investment for micro-irrigation accessing MIF, innovative composite/ commodity/ community/ cluster based micro irrigation projects/ proposals may bring about 10 lakh ha.
                    li The Fund will facilitate States to mobilize resources for their initiatives, including additional (top up subsidy) in implementation of PMKSY-PDMC to achieve the annual target of about 2 Million ha/year during the remaining period of 14thFinance Commission under Per Drop More Crop Component of PMKSY as recommended by the Group of Secretaries.
            div#c84.c
                h3 Implementation Strategy and Targets:
                ul 

                    li States may access MIF for innovative integrated projects, including projects in the Public-Private Partnership (PPP) mode and also for incentivizing micro irrigation through an additional (top-up) subsidy over and above the one available under PMKSY-PDMC Guidelines and for covering additional areas.
                    li Farmers Producers Organization (FPO)/Cooperatives/State Level Agencies can also access the funds with State Government Guarantee or equivalent collateral. Farmers Co-operatives may access this fund for innovative cluster based Community Irrigation Projects.
                    li An Advisory Committee to provide policy direction and ensure effective planning, coordination and monitoring along with a Steering Committee for examining and approving the Projects/proposals from State Governments (total cost, eligible loan amount to the State and phasing), coordination and monitoring to ensure time-bound implementation of the assisted projects/proposals within approved cost and phasing is proposed to be constituted.

        div.cards#card9
            h1 Agriculture Infrastructure Fund
            div#c91.c
                h3 Introduction 
                p The role of infrastructure is crucial for agriculture development and for taking the production dynamics to the next level. It is only through the development of infrastructure, especially at the post harvest stage that the produce can be optimally utilized with opportunity for value addition and fair deal for the farmers. Development of such infrastructure shall also address the vagaries of nature, the regional disparities, development of human resource and realization of full potential of our limited land resource. 
            div#c92.c
                h3 Main Features
                ul 
                    li Convergence with all schemes of central or state government.
                    li Online single window facility in collaboration with participating lending institutions.
                    li Project Management Unit to provide handholding support for projects including project preparation.
                    li Size of the financing facility – ₹ 1 lakh Crore.
                    li Credit Guarantee for loans up to ₹ 2 Crore.
                    li Interest subvention of 3% p.a., limited to ₹ 2 crore per project in one location, though loan amount can be higher.
                    li Cap on lending rate, so that benefit of interest subsidy reaches the beneficiary and services to farmers remain affordable.
                    li Multiple lending institutions including Commercial Banks, Cooperative Banks, RRBs, Small Finance Banks, NCDC, NBFCs etc.
                    li One eligible entity puts up projects in different locations then all such projects will be eligible under the scheme for loan upto ₹ 2 crore.
                    li For a private sector entity, such as farmer, agri entrepreneur, start-up there will be a limit of maximum of 25 such projects.
                    li Limitation of 25 projects will not be applicable to state agencies, national and state federations of cooperatives, federations of FPOs and federation of SHGs.
            div#c93.c
                h3 Objectives
                ul This financing facility will have numerous objective for all the stakeholders in the agriculture eco-system.
                    li  
                        h5 Farmers (including FPOs, PACS, Marketing Cooperative Societies, Multipurpose cooperative societies)
                        ul 
                            li Improved marketing infrastructure to allow farmers to sell directly to a larger base of consumers and hence, increase value realization for the farmers. This will improve the overall income of farmers.
                            li market with reduced post-harvest losses and a smaller number of intermediaries. This further will make farmers independent and improve access to market.
                            li With modern packaging and cold storage system access, farmers will be able to further decide when to sell in the market and improve realization.
                            li Community farming assets for improved productivity and optimization of inputs will result in substantial savings to farmers. 
                    li
                        h5 Government
                        ul 
                            li Government will be able to direct priority sector lending in the currently unviable projects by supporting through interest subvention, incentive and credit guarantee. This will initiate the cycle of innovation and private sector investment in agriculture.
                            li Due to improvements in post-harvest infrastructure, government will further be able to reduce national food wastage percentage thereby enable agriculture sector to become competitive with current global levels.
                            li Central/State Government Agencies or local bodies will be able to structure viable PPP projects for attracting investment in agriculture infrastructure.
                    li
                        h5 Agri entrepreneurs and startups
                        ul 
                            li With a dedicated source of funding, entrepreneurs will push for innovation in agriculture sector by leveraging new age technologies including IoT, AI.
                            li It will also connect the players in ecosystem and hence, improve avenues for collaboration between entrepreneurs and farmers.
                    li
                        h5  Banking ecosystem 
                        ul 
                            li With Credit Guarantee, incentive and interest subvention lending institutions will be able to lend with a lower risk. This scheme will help to enlarge their customer base and diversification of portfolio.
                            li Refinance facility will enable larger role for cooperative banks and RRBs.
                    li
                        h5  Consumers
                        p With reduced inefficiencies in post-harvest ecosystem, key benefit for consumers will be a larger share of produce reaching the market and hence, better quality and prices. Overall, the investment via the financing facility in agriculture infrastructure will benefit all the eco-system players
            div#c94.c
                h3 Who Can Apply
                ul 
                    li Agricultural Produce Market Committee
                    li Agri-Entrepreneur
                    li Central sponsored Public-Private Partnership Project
                    li Farmer
                    li Farmer Producers Organization
                    li Federation of Farmer Produce Organisations
                    li Joint Liability Groups
                    li Local Body sponsored Public-Private Partnership Project
                    li Marketing Cooperative Society
                    li Multipurpose Cooperative Society
                    li National Federations of Cooperatives
                    li Primary Agricultural Credit Society
                    li Self Help Group
                    li Federations of Self Help Groups
                    li Start-Up
                    li State Agencies
                    li State Federations of Cooperatives
                    li State sponsored Public-Private Partnership Project
          
        div.cards#card10
            h1 Agricultural Technology Management Agency (ATMA)
            div#c101.c
                h3 Introduction 
                p ATMA is a society of key stakeholders involved in agricultural activities for sustainable agricultural development in the district. It is a focal point for integrating Research and Extension activities and decentralising day to day management of the public Agricultural Technology System(ATS).
            div#c102.c
                h3 Objectives :
                ul 
                    li To strengthen research – extension – farmer linkages
                    li To provide an effective mechanism for co-ordination and management of activities of different agencies involved in technology adaption / validation and dissemination at the district level and below.
                    li To increase the quality and type of technologies being disseminated.
                    li To move towards shared ownership of the agricultural technology system by key shareholders.
                    li To develop new partnerships with the private institutions including NGOs.
            div#c103.c
                h3 Salient Features of ATMA :
                ul 
                    li Creating Farmer Advisory Committee to improve feed back.
                    li Using NGOs to organize farmers.
                    li Encouraging private sector involvement in technology transfer.
                    li Validation and refining technologies through research units in the district.
                    li Bottom up planning procedure.
                    li Increased use of Information Technology (ARIS, WWW)
                    li In-service training to increase staff competence.
                    li Developing new Public-Private partnerships.
                    li Formation and strengthening of farmer's interest group.
            div#c104.c
                h3 Activities of the ATMA
                ul 
                    li Building a reliable Farmer Advisory Committee to acquire and improve their feedbacks provided to the State Agricultural Universities (SAUs) and National Agricultural Research System (NARS).
                    li Clustering all the Non-Government Organisations functioning in the UTs, States, Districts or Villages.
                    li Educating and training the farmers about the technological upgradation by involving and encouraging private institutions.
                    li Certifying and improving technologies through research units in the district and block levels.
                    li Enhancing the planning procedure to improve productivity.
                    li Providing further training for the stakeholders and assist them in rendering global competence.
                    li Creating more Farmer’s group and reinforcing them with innovative ideas and methodologies.
                    li Mounting new partnerships between public and private parties. 
            div#c105.c
                h3 Funding :
                p The scheme is suppported by the Central Government. The funding pattern is 90% by the central Government and 10% by the state government. The 10% state’s share shall consist of cash contribution of the State, beneficiary contribution or the contribution of other non-governmental organizations
            div#c106.c
                h3 Allocation of Funds
                ul 
                    li The Central Government allocates 90% of the fund, as a grant-in-aid, to all the States/UTs and the State Governments allocate 10% of the fund. The 10% share from the State Government is input from the cash contribution of the state or the contribution from other beneficiaries and non-government organisations.
                    li A total amount of Rs.226.07 Crores are sanctioned under the scheme. The funds are allocated and shared between the Centre, State and District on an agreed ratio.
                    li A ratio of 77.53%, which equals to the amount of 167.56 Crores, is allotted to conduct the District level programs.
                    li A sum of 22.15 Crores,i.e., a sharing ratio of 10.25% is distributed to conduct the State level programs and a share of 12.22%, which equals to an amount of26.41 Crores, is reserved by the Central Government to carry out the other operational activities. 

block script  
  