doctype html 
html 
    head 
        title SignUp Page
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        style
            include ../static/allcss/signup.css

    body 

        nav#navbar 
            .cont#logo  
                img(src="../static/backgrounds/logo.png", alt="Error Loading")
                p agricultor 
            .cont#navlinks
                ul#topnav 
                    li
                        a
                            i.fa.fa-home 
                            |   Home 
                    li 
                        a About Us 
                    li 
                        a Programmes &amp; Schemes   
                    li 
                        a Major Crops   
                    li 
                        a News Feed   
                    li 
                        a Community Blog   
            .cont#login  
                ul#sign 
                    li 
                        button 
                            a(href="/signin") 
                                i.fa.fa-sign-in 
                                |   SignIn 
                    li 
                        button 
                            a(href="/signup") 
                                i.fa.fa-user-plus
                                |   SignUp
                    .trigram(onclick="toggle()") 
                        i.fa.fa-bars 


        #maincont     
            #container 
                #left
                    img(src="../static/backgrounds/logo.png", alt="Error loading") 
                #right     
                    h1 Sign Up
                    form#form(action="/signup", method="post") 
                        input(type="text" id="fname" placeholder='First Name'  name="fname")
                        input(type="text" id="lname" placeholder='Last Name'  name="lname")
                        input(type="number" id="mobile" placeholder='Mobile Number'  name="mobile")
                        input(type="text" id="city" placeholder='City Name'  name="city")
                        input(type="text" id="state" placeholder='State Name'  name="state")
                        input(type="email" id="email" placeholder='Email-Id'  name="email")
                        input(type="password" id="pass" placeholder='Password'  name="password")
                        input(type="password" id="cpass" placeholder='Confirm Password'  name="cpass")
                        input#btn(type="submit", value="Submit")
                        //- button#btn Submit
                    a(href="/signin") Already A User ? 

        footer 
            div#foot
                br
                a Home 
                a About Us 
                a Programmes &amp; Schemes  
                a Major Crops
                a News Feed 
                a Community Blog 
                
                div.socialMedia
                    i.fa.fa-envelope
                    i.fa.fa-facebook-square
                    i.fa.fa-instagram 
                    i.fa.fa-twitter 
                span#span All 
                    i.fa.fa-copyright
                    |   CopyRight Reserved @Agricultor 2021.
                span Last Updated : 1 NOVEMBER,2021



        script 
            include ../static/alljs/signup.js
        script(src='https://kit.fontawesome.com/a616b3ff45.js' crossorigin='anonymous')