extends base.pug

block title 
    title SignUp Page

block style 
    style
        include ../static/allcss/signup.css

block content 

    #maincont     
        #container 
            #left
                img(src="../static/backgrounds/logo.png", alt="Error loading") 
            #right     
                h1 Sign Up
                form#form(action="/signup", method="post") 
                    input(type="text" id="fname" placeholder='First Name'  name="fname")
                    input(type="text" id="lname" placeholder='Last Name'  name="lname")
                    input(type="number" id="mobile" placeholder='Mobile Number'  name="mobile")
                    input(type="text" id="city" placeholder='City Name'  name="city")
                    input(type="text" id="state" placeholder='State Name'  name="state")
                    input(type="email" id="email" placeholder='Email-Id'  name="email")
                    input(type="password" id="pass" placeholder='Password'  name="password")
                    input(type="password" id="cpass" placeholder='Confirm Password'  name="cpass")
                    input#btn(type="submit", value="Submit")
                    //- button#btn Submit
                a(href="/signin") Already A User ? 

block script  
    script 
        include ../static/alljs/signup.js