extends base.pug

block title 
    title SignUp Page

block style 
    style
        include ../static/allcss/signup.css

block content 

    #maincont     
        #container 
            #left
                img(src="../static/backgrounds/logo.png", alt="Error loading") 
            #right     
                h1 Sign Up
                form#form.form(action="/signup", method="post" ) 
                    div.inputs
                        input(type="text" id="fname" placeholder='First Name'  name="fname")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="text" id="lname" placeholder='Last Name'  name="lname")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="number" id="mobile" placeholder='Mobile Number'  name="mobile")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="text" id="city" placeholder='City Name'  name="city")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="text" id="state" placeholder='State Name'  name="state")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="email" id="email" placeholder='Email-Id'  name="email")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="password" id="pass" placeholder='Password'  name="password")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 
                    div.inputs
                        input(type="password" id="cpass" placeholder='Confirm Password'  name="cpass")
                        i.fa.fa-check-circle-o
                        i.fa.fa-exclamation-circle
                        small Error Message 

                    button#btn Submit
                a(href="/signin") Already A User ? 

block script  
    script 
        include ../static/alljs/signup.js