h1{
   background-color: rgba(0, 0, 0, 0.562);
   color: orange;
   font-family: 'Bebas Neue', cursive;
   padding: 0.3rem;
   text-align: center;
   margin-bottom: 0rem;
}
#sec1{
    background-image: url('/static/backgrounds/cblog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}
#sec1 #partition{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    height: 25rem;
    top: 12rem;
    right: 8rem;
    /* border: 0.01rem solid white; */
}
#sec1 #partition h3 {
    color: white;
    padding: 0.7rem 0rem;
    text-align: center;
}
#sec1 #partition p {
    color: white;
    padding: 0.3rem 1rem;
    text-align: justify;
}
#conts{
}
.btn{
    background-color: rgb(255, 196, 0);
    border: 0.1rem solid black;
    margin: auto;
    display: block;
}
.btn a{
    text-decoration: none;
    color: black;
}
#conts p{
    color: black;
    font-weight: bold;
}
#conts span{
    border:0.1rem solid black ;
    margin: 0rem 1rem;
}
#conts .fa-user-circle-o{
    color: red;
}