svg{
    height: 40rem ;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.63);
}
#box{
    position: absolute;
    right: 10rem;
    top: 10rem;
    height: 22rem ;
    width: 30%;
    border: 0.2rem solid black;
}
#box .stateName{
    text-align: center;
    background-color: greenyellow;
    border-bottom: 0.2rem solid black;
}
#box #boxMP{
    display: none;
}
#box #boxAN{
    display: none;
}
#box #boxAP{
    display: none;
}
#box #boxAR{
    display: none;
}
#box #boxAS{
    display: none;
}
#box #boxBR{
    display: none;
}
#box #boxCH{
    display: none;
}
#box #boxCT{
    display: none;
}
#box #boxDD{
    display: none;
}
#box #boxDL{
    display: none;
}
#box #boxDN{
    display: none;
}

